* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
html, body {
    height: 100%;
    width: 100%;
}
.fancyFont {
    font-family: 'Mali', cursive;
}
.normalFont {
    font-family: 'Poppins', sans-serif;
}
#mainContainer {
    padding: auto;
}
#titleArea {

}
#buttonArea {

}