* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
html, body {
    height: 100%;
    width: 100%;
}
.fancyFont {
    font-family: 'Mali', cursive;
}
.normalFont {
    font-family: 'Inconsolata', monospace;
}
.white {
    color: white;
}
.yellow {
    color: yellow;
}
.noDec {
    text-decoration: none;
}
.center {
    margin: auto;
    text-align: center;
    width: 50%;
}
.left {
    text-align: left;
}
.background {
    height: 100%;
    background-color: navy;
}
#mainContainer {
    height: 100%;
}
#titleArea {
    height: 100%;
}
#name {
    width: 100%;
    font-size: 5.2em;
}
#buttonArea {
